[submodule "monero"]
	path = monero
	url = https://github.com/jpk68/monero
	ignore = all
	branch = multisig-patches
[submodule "external/quirc"]
	path = external/quirc
	url = https://github.com/dlbeer/quirc/
