*.o
*.ko
*.obj
*.elf
*.gch
*.pch
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.so.*
*.dylib
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
test.cpp
zxcvbn.cpp
zxcvbn.dict
test-*file
test-*line
test-*lib
dictgen
dict-*.h
