[Desktop Entry]
Name=Crown GUI
GenericName=Crown-GUI
Comment=Crown GUI
Exec=crown-wallet-gui
Type=Application
Terminal=false
Categories=Network;Qt;Finance;Office;
Icon=org.getmonero.Monero
StartupNotify=true
